<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>bool list</title>
<link type="text/css" rel="stylesheet" href="../static/common/css/layout.css"></link>
<link type="text/css" rel="stylesheet" href="../static/common/css/color.css"></link>
<link type="text/css" rel="stylesheet" href="../static/links/book-list.css"></link>
</head>
<body>
<div id="header" class="bgc-22B14C">
	<div id="header-logo"><img width="70px" height="36px" src="../static/common/images/nebulaForCulture.png" /></div>
	<div id="header-sign"><a href="">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" >注册</a></div>
</div>
<div id="container" class="bgc-22B14C">
<h1>NEBULA FOR CULTURE </h1>
	<ul id="nav">
		<li>JavaSE</li>
		<li>JavaEE</li>
		<li>WEB前端</li>
		<li>Linux</li>
		<li>数据库</li>
		<li>更多</li>
	</ul>
</div>

<!-- <table width=100% bgcolor="#22B14C">
	<tr align="left">
		<td width="80%"><img width="70px" height="36px" src="../static/common/images/nebulaForCulture.png" /></td>
		<td><a href="">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" >注册</a></td>
	</tr>
</table>

<table width="100%" bgcolor="#22B14C" align="center">
<tr>
<td width="20%"></td>
<td>文学</td>&nbsp;&nbsp;
<td>励志</td>&nbsp;&nbsp;
<td>管理</td>&nbsp;&nbsp;
<td>金融</td>&nbsp;&nbsp;
<td>传记</td>&nbsp;&nbsp;
<td>互联网</td>&nbsp;&nbsp;
<td>诗词</td>&nbsp;&nbsp;
<td>音乐</td>&nbsp;&nbsp;
<td>外国文献</td>
<td width="20%"></td>
</tr>
</table> -->
<h2>
book list
</h2>
<table width="100%">
	<tr align="center">
		<td><img width="200px" height="300px" src="" /></td>
		<td><img width="200px" height="300px" src="" /></td>
		<td><img width="200px" height="300px" src="" /></td>
		<td><img width="200px" height="300px" src="" /></td>
		<td><img width="200px" height="300px" src="" /></td>
	</tr>
	<tr align="center">
		<td><img width="200px" height="300px" src="" /></td>
		<td><img width="200px" height="300px" src="" /></td>
		<td><img width="200px" height="300px" src="" /></td>
		<td><img width="200px" height="300px" src="" /></td>
		<td><img width="200px" height="300px" src="" /></td>
	</tr>
</table>
<br />
<table width="20%" align="center">
	<tr align="center">
		<td>nebula for culture</td>
	</tr>
	<tr align="center">
		<td>copyleft 2017</td>
	</tr>
</table>

</body>
</html>