<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xiaoxcn</display-name>
  <listener>
    <listener-class>com.xiaoxcn.listener.InitSystemListener</listener-class>
  </listener>
  
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <servlet-name>queryBookPageServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.QueryBookPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryBookPageServlet</servlet-name>
    <url-pattern>/xknowledge/queryBookPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryBookSigleServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.QueryBookSigleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryBookSigleServlet</servlet-name>
    <url-pattern>/xknowledge/queryBookSigleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addSaveBookInfoServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.AddSaveBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSaveBookInfoServlet</servlet-name>
    <url-pattern>/xknowledge/addSaveBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBookSkipServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.AddBookSkipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookSkipServlet</servlet-name>
    <url-pattern>/xknowledge/addBookSkipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editSaveBookInfoServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.EditSaveBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editSaveBookInfoServlet</servlet-name>
    <url-pattern>/xknowledge/editSaveBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delBookInfoServlet</display-name>
    <servlet-name>delBookInfoServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.DelBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delBookInfoServlet</servlet-name>
    <url-pattern>/xknowledge/delBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchByNameServlet</display-name>
    <servlet-name>searchByNameServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.SearchByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchByNameServlet</servlet-name>
    <url-pattern>/xknowledge/searchByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCart</display-name>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>com.xknowledge.servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/knowledge/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buildServlet</display-name>
    <servlet-name>buildServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.BuildServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buildServlet</servlet-name>
    <url-pattern>/xknowledge/buildServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmOrderServlet</display-name>
    <servlet-name>confirmOrderServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmOrderServlet</servlet-name>
    <url-pattern>/xknowledge/confirmOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>completeOrderServlet</display-name>
    <servlet-name>completeOrderServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.CompleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>completeOrderServlet</servlet-name>
    <url-pattern>/xknowledge/completeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadCoverServlet</display-name>
    <servlet-name>downloadCoverServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.DownloadCoverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadCoverServlet</servlet-name>
    <url-pattern>/xknowledge/downloadCoverServlet</url-pattern>
  </servlet-mapping>
</web-app>