<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xiaoxcn</display-name>
  
  <listener>
  	<listener-class>com.xiaoxcn.Listener.InitSystemListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>handlerServlet</servlet-name>
    <servlet-class>com.nebula.servlet.HandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handlerServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.nebula.test.TestServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>zhangsan</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.xiaoxcn.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryBookPageServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.QueryBookPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryBookPageServlet</servlet-name>
    <url-pattern>/xknowledge/queryBookPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryBookSigleServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.QueryBookSigleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryBookSigleServlet</servlet-name>
    <url-pattern>/xknowledge/queryBookSigleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addSaveBookInfoServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.AddSaveBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSaveBookInfoServlet</servlet-name>
    <url-pattern>/xknowledge/addSaveBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBookSkipServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.AddBookSkipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookSkipServlet</servlet-name>
    <url-pattern>/xknowledge/addBookSkipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editSaveBookInfoServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.EditSaveBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editSaveBookInfoServlet</servlet-name>
    <url-pattern>/xknowledge/editSaveBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delBookInfoServlet</display-name>
    <servlet-name>delBookInfoServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.DelBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delBookInfoServlet</servlet-name>
    <url-pattern>/xknowledge/delBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchByNameServlet</display-name>
    <servlet-name>searchByNameServlet</servlet-name>
    <servlet-class>com.xknowledge.servlet.SearchByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchByNameServlet</servlet-name>
    <url-pattern>/xknowledge/searchByNameServlet</url-pattern>
  </servlet-mapping>
</web-app>