
#person-content ul li {
	float:left;
	list-style:none;
	margin:10px;
}
#person-content a img {
	width:120px;
	height:180px;
}
#person-content p {
	text-indent: 2em;
}
.text-content {
	padding:10px;
	display:none;
}
.text-content p {
	float:left;
	width:600px;
	margin-right:30px;
}
.text-content img {
	float:left;
	width:220px;
	height:330px;
}

.displayNone{
	display:none;
}
.displayBlock{
	display:block;
}