.WdateDiv{position:relative;width:240px;*width:240px;font-size:12px;color:#333;background-color:#F2F0F1;font-family:verdana, Helvetica;}
.WdateDiv2{width:360px;}
.WdateDiv .NavImg a,.WdateDiv .yminput,.WdateDiv .yminputfocus,.WdateDiv #dpQS{background:url(img.gif) no-repeat;}
.WdateDiv .NavImg a{float:left;width:30px;height:30px;cursor:pointer; display:inline-block;}
.WdateDiv .NavImgll a{background-position:0px 5px;}
.WdateDiv .NavImgl a{background-position:0px -111px;cursor:pointer;}
.WdateDiv .NavImgl a:hover{background-position:0px -216px;}
.WdateDiv .NavImgr a{background-position:0px -169px;float:right;cursor:pointer;}
.WdateDiv .NavImgr a:hover{background-position:0px -264px;float:right;}
.WdateDiv .NavImgrr a{background-position:0px -40px;float:right;}
.WdateDiv #dpTitle{padding:4px 5px 4px 5px;line-height:0px;height:30px;background:#5b8ed1;text-align:center;}
.WdateDiv .yminput,.WdateDiv .yminputfocus{margin-left:21px;width:46px;height:20px;line-height:16px;border:0px;cursor:pointer;background:none;color:#fff;font-size:14px; margin-top:5px;}
.WdateDiv .yminput{ margin-left:25px;}
.WdateDiv .yminputfocus{background-color:#fff;border:solid 1px #D8D8D8;color:#555;}
.WdateDiv .menuSel{z-index:1;position:absolute;background-color:#FFFFFF;border:#A3C6C8 1px solid;display:none;}
.WdateDiv .menu{background:#fff;}
.WdateDiv .menuOn{color:#fff;background:#3d95d5;}
.WdateDiv .invalidMenu{color:#aaa;}
.WdateDiv .MMenu,.WdateDiv .YMenu{padding:2px;margin-top:24px;margin-left:0px;width:68px;border:solid 1px #D9D9D9;}
.WdateDiv .MMenu table,.WdateDiv .YMenu table{width:100%;}
.WdateDiv .MMenu table td,.WdateDiv .YMenu table td{padding:0px;line-height:20px;text-align:center;font-size:12px;cursor:pointer;}
.WdateDiv .Wweek{text-align:center;background:#DAF3F5;border-right:#BDEBEE 1px solid;}
.WdateDiv td{padding:1px;line-height:24px;font-size:12px;color:#555;background:#fff;cursor:pointer;}
.WdateDiv .MTitle td{line-height:24px;color:#7D7D7D;background:#F2F0F1;cursor:default;padding:0px 5px;}
.WdateDiv .WdayTable2{border-collapse:collapse;border:#808080 1px solid;}
.WdateDiv .WdayTable2 table{border:0;}
.WdateDiv .WdayTable{line-height:20px;color:#13777e;background-color:#edfbfb;border:#ccc solid 1px;}
.WdateDiv .WdayTable td{text-align:center;}
.WdateDiv .Wday{color:#555;}
.WdateDiv .WdayOn{color:#fff;background-color:#3d95d5;}
.WdateDiv .Wwday{color:#555;}
.WdateDiv .WwdayOn{color:#fff;background-color:#3d95d5;}
.WdateDiv .Wtoday{color:#555;background:#fff;}
.WdateDiv .Wselday{color:#fff;background-color:#3d95d5;}
.WdateDiv .WspecialDay{background-color:#66F4DF;}
.WdateDiv .WotherDay{color:#D4D4D4;}
.WdateDiv .WotherDayOn{color:#fff;background-color:#3d95d5;}
.WdateDiv .WinvalidDay{color:#aaa;}
.WdateDiv #dpTime{position:relative;}
.WdateDiv #dpTime #dpTimeStr{display:inline-block;width:28px;*width:30px;color:#7d7d7d;}
.WdateDiv #dpTime input{padding:0px;margin:0px;width:25px;height:20px;line-height:20px;text-align:center;color:#333;border:#D9D9D9 1px solid;}
.WdateDiv #dpTime .tm{width:7px;border:none;background:#F2F0F1;}
.WdateDiv #dpTime #dpTimeUp{display:none;}
.WdateDiv #dpTime #dpTimeDown{display:none;}
.WdateDiv #dpQS{float:left;margin-right:3px;margin-top:9px;*margin-top:6px;width:16px;height:16px;cursor:pointer;background-position:0px -90px;}
.WdateDiv #dpControl{text-align:left;}
.WdateDiv .dpButton{margin-left:2px;line-height:18px;*line-height:16px;width:42px;background-color:#3d95d5;*background-color:#3d95d5;color:#fff;border:none;cursor:pointer;}
.WdateDiv .dpButton:hover{background-color:#3187c5;}
.WdateDiv .hhMenu,.WdateDiv .mmMenu,.WdateDiv .ssMenu{position:absolute;padding:3px;font-size:12px;color:#333;border:solid 1px #DEDEDE;background-color:#F2F0F1;}
.WdateDiv #dpTime .menu,.WdateDiv #dpTime .menuOn{width:18px;height:18px;line-height:18px;text-align:center;background:#fff;}
.WdateDiv #dpTime .menuOn{background:#3d95d5;}

.WdateDiv #dpTime td{background:#F2F0F1;}
.WdateDiv .hhMenu{top:-87px;left:35px;left:32px\9;}
.WdateDiv .mmMenu{top:-47px;left:35px;left:32px\9;}
.WdateDiv .ssMenu{top:-27px;left:35px;left:32px\9;}
.NavImgll,.NavImgrr{display:none;}
#dpTime{border-left:#ccc solid 1px;border-right:#ccc solid 1px;margin:0px;padding:5px 8px 0px;}
.WdateDiv #dpTime table{ height:20px;}
#dpTime table td{padding:0px;}
#dpControl{/* border-bottom:#ccc solid 1px; *//* border-left:#ccc solid 1px; *//* border-right:#ccc solid 1px; *//* margin:0px; */padding:5px 5px 5px;}
#dpQS{display:none;}