@CHARSET "UTF-8";
body{overflow:hidden;}
.logindiv{
	margin:100px auto;
	width:400px;
	text-align:center;
	background-color:#F5FFFA;
}
.logintitle{
	font-size:30px;
	text-align:center;
	background-color:#E0FFFF;
}
table{
	margin-top:0px;
}
.left-td{
	text-align:right;
	width:45%;
	height:50px;
}
.right-td{
	text-align:left;
}
#messageTip{
	font-size:12;
	height:30px;
	color:#00BFFF;
}
#errorTip{
	font-size:12;
	height:30px;
	color:#DE5347;
}
