@CHARSET "UTF-8";
body{overflow:hidden;}
.registerdiv{
	margin:100px auto;
	width:900px;
	text-align:center;
	background-color:#F5FFFA;
}
.registertitle{
	font-size:30px;
	text-align:center;
	background-color:#E0FFFF;
}
table{
	margin-top:20px;
}
.left-td{
	text-align:right;
	width:300px;
	height:50px;
}
.right-td{
	text-align:left;
}
span{
	font-size:9;
}
